# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Dice/v15/ipch/AutoPCH/3e2162456b9cc90b/DICE.ipch
/.vs/Dice/v15/ipch/AutoPCH
/.vs/Dice/v15
/Dice/Release
/Dice/x64/Debug
/Release
/Dice/x64/Release
