[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
	branch = master
[submodule "libiconv"]
	path = libiconv
	url = https://github.com/w4123/libiconv-android-prebuilt
[submodule "quickjspp"]
	path = quickjspp
	url = https://github.com/c-smile/quickjspp.git
