<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDKCPP-Core" version="1.6.25" targetFramework="native" />
  <package id="AWSSDKCPP-Core.redist" version="1.6.25" targetFramework="native" />
  <package id="AWSSDKCPP-S3" version="1.6.20060301.25" targetFramework="native" />
  <package id="AWSSDKCPP-S3.redist" version="1.6.20060301.25" targetFramework="native" />
</packages>