name: CMake

on: [push, pull_request]

jobs:
  build-windows:
    env:
      BUILD_TYPE: Release
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    strategy:
      fail-fast: false
      matrix:
        include:
        - type: Win32
          triplet: x86-windows-static
          mono: ''
        - type: x64
          triplet: x64-windows-static
          mono: ''
        - type: ARM64
          triplet: arm64-windows-static
          mono: ''
          
    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build
      
    - name: Cache
      uses: actions/cache@v2.1.4
      id: cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: ${{github.workspace}}\vcpkg\vcpkg.exe
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-${{ matrix.triplet }}-new
        restore-keys:  ${{ runner.os }}-${{ matrix.triplet }}-new

    - name: Setup Vcpkg
      shell: cmd
      if: steps.cache.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}/vcpkg
      run: bootstrap-vcpkg.bat
      
    - name: 'Setup NuGet Credentials'
      shell: 'bash'
      # Replace <OWNER> with your organization name
      run: >
        ${{ matrix.mono }} `./vcpkg/vcpkg fetch nuget | tail -n 1`
        sources add
        -source "https://nuget.pkg.github.com/Dice-Developer-Team/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "Dice-Developer-Team"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -A ${{ matrix.type }} -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }}

    - name: Build
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE
      
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        # Artifact name
        name: ${{ matrix.triplet }}
        # A file, directory or wildcard pattern that describes what to upload
        path: "**/w4123.Dice.dll"
        
        
  build-windows-cl:
    env:
      BUILD_TYPE: Release
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    strategy:
      fail-fast: false
      matrix:
        include:
        - type: Win32
          triplet: x86-windows-static
          mono: ''
        - type: x64
          triplet: x64-windows-static
          mono: ''
        - type: ARM64
          triplet: arm64-windows-static
          mono: ''
          
    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build
      
    - name: Cache
      uses: actions/cache@v2.1.4
      id: cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: ${{github.workspace}}\vcpkg\vcpkg.exe
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-${{ matrix.triplet }}-new
        restore-keys:  ${{ runner.os }}-${{ matrix.triplet }}-new

    - name: Setup Vcpkg
      shell: cmd
      if: steps.cache.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}/vcpkg
      run: bootstrap-vcpkg.bat
      
    - name: 'Setup NuGet Credentials'
      shell: 'bash'
      # Replace <OWNER> with your organization name
      run: >
        ${{ matrix.mono }} `./vcpkg/vcpkg fetch nuget | tail -n 1`
        sources add
        -source "https://nuget.pkg.github.com/Dice-Developer-Team/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "Dice-Developer-Team"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -A ${{ matrix.type }} -T ClangCl -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }}

    - name: Build
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE
      
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        # Artifact name
        name: ${{ matrix.triplet }}
        # A file, directory or wildcard pattern that describes what to upload
        path: "**/w4123.Dice.dll"

  build-macos:
    env:
      BUILD_TYPE: Release
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    strategy:
      fail-fast: false
      matrix:
        include:
        - arch: x86_64
          triplet: x64-osx
          mono: 'mono'
        - arch: arm64
          triplet: arm64-osx
          mono: 'mono'
          
    runs-on: 	macos-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
  
    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build
      
    - name: Cache
      uses: actions/cache@v2.1.4
      id: cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: ${{github.workspace}}/vcpkg/vcpkg
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-${{ matrix.triplet }}-new
        restore-keys:  ${{ runner.os }}-${{ matrix.triplet }}-new
        
    - name: Setup Vcpkg
      shell: bash
      if: steps.cache.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}/vcpkg
      run: ./bootstrap-vcpkg.sh
      
    - name: 'Setup NuGet Credentials'
      shell: 'bash'
      # Replace <OWNER> with your organization name
      run: >
        ${{ matrix.mono }} `./vcpkg/vcpkg fetch nuget | tail -n 1`
        sources add
        -source "https://nuget.pkg.github.com/Dice-Developer-Team/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "Dice-Developer-Team"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake ${{github.workspace}} -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }} -DCMAKE_OSX_ARCHITECTURES=${{ matrix.arch }}

    - name: Build
      working-directory: ${{github.workspace}}/build
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE
      
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        # Artifact name
        name: ${{ matrix.triplet }}
        # A file, directory or wildcard pattern that describes what to upload
        path: "**/w4123.Dice.dll"
    
  build-linux:
    env:
      BUILD_TYPE: Release
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    strategy:
      fail-fast: false
      matrix:
        include:
        - apt: g++-8
          cc: gcc-8
          cxx: g++-8
          triplet: x64-linux
          mono: 'mono'
        - path: /usr/i686-linux-gnu
          apt: g++-8-i686-linux-gnu
          cc: i686-linux-gnu-gcc-8
          cxx: i686-linux-gnu-g++-8
          triplet: x86-linux
          mono: 'mono'
        - path: /usr/aarch64-linux-gnu
          apt: g++-aarch64-linux-gnu
          cc: aarch64-linux-gnu-gcc
          cxx: aarch64-linux-gnu-g++
          triplet: arm64-linux
          mono: 'mono'
        - path: /usr/arm-linux-gnueabihf
          apt: g++-arm-linux-gnueabihf
          cc: arm-linux-gnueabihf-gcc
          cxx: arm-linux-gnueabihf-g++
          triplet: arm-linux
          mono: 'mono'
        
    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build
      
    - name: Install Cross Compiler
      run: sudo apt-get install ${{ matrix.apt }}
      
    - name: Cache
      uses: actions/cache@v2.1.4
      id: cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: ${{github.workspace}}/vcpkg/vcpkg
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-${{ matrix.triplet }}-new
        restore-keys:  ${{ runner.os }}-${{ matrix.triplet }}-new
        
    - name: Setup Vcpkg
      shell: bash
      if: steps.cache.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}/vcpkg
      run: ./bootstrap-vcpkg.sh
      
    - name: 'Setup NuGet Credentials'
      shell: 'bash'
      # Replace <OWNER> with your organization name
      run: >
        ${{ matrix.mono }} `./vcpkg/vcpkg fetch nuget | tail -n 1`
        sources add
        -source "https://nuget.pkg.github.com/Dice-Developer-Team/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "Dice-Developer-Team"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run:  CC=${{ matrix.cc }} CXX=${{ matrix.cxx }} cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DVCPKG_OVERLAY_TRIPLETS=${{ github.workspace }}/triplets -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }} -DCMAKE_PREFIX_PATH=${{ matrix.path }}

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE
    
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        # Artifact name
        name: ${{ matrix.triplet }}
        # A file, directory or wildcard pattern that describes what to upload
        path: "**/w4123.Dice.dll"
      
  build-android:
    env:
      ANDROID_NDK: $ANDROID_NDK_HOME
      BUILD_TYPE: Release
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    strategy:
      fail-fast: false
      matrix:
        include:
        - abi: armeabi-v7a
          triplet: arm-android-static
          mono: 'mono'
        - abi: arm64-v8a
          triplet: arm64-android-static
          mono: 'mono'
        - abi: x86
          triplet: x86-android-static
          mono: 'mono'
        - abi: x86_64
          triplet: x64-android-static
          mono: 'mono'
        
    runs-on: ubuntu-20.04
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build
      
    - name: Cache
      uses: actions/cache@v2.1.4
      id: cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: ${{github.workspace}}/vcpkg/vcpkg
        # An explicit key for restoring and saving the cache
        key: ${{ runner.os }}-${{ matrix.triplet }}-new
        restore-keys:  ${{ runner.os }}-${{ matrix.triplet }}-new
        
    - name: Setup Vcpkg
      shell: bash
      if: steps.cache.outputs.cache-hit != 'true'
      working-directory: ${{github.workspace}}/vcpkg
      run: ./bootstrap-vcpkg.sh
      
    - name: 'Setup NuGet Credentials'
      shell: 'bash'
      # Replace <OWNER> with your organization name
      run: >
        ${{ matrix.mono }} `./vcpkg/vcpkg fetch nuget | tail -n 1`
        sources add
        -source "https://nuget.pkg.github.com/Dice-Developer-Team/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "Dice-Developer-Team"
        -password "${{ secrets.GITHUB_TOKEN }}"
        
    - name: Configure CMake
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DVCPKG_CHAINLOAD_TOOLCHAIN_FILE=$ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake -DVCPKG_OVERLAY_TRIPLETS=${{ github.workspace }}/triplets -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }} -DANDROID_ABI=${{ matrix.abi }} -DANDROID_PLATFORM=21

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - name: Test
      working-directory: ${{github.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE
      
    - name: Upload
      uses: actions/upload-artifact@v2.2.2
      with:
        # Artifact name
        name: ${{ matrix.triplet }}
        # A file, directory or wildcard pattern that describes what to upload
        path: "**/w4123.Dice.dll"

